@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-50: 38, 44%, 96%;
    --brand-100: 45, 48%, 92%;
    --brand-200: 42, 47%, 83%;
    --brand-300: 42, 46%, 72%;
    --brand-400: 38, 45%, 62%;
    --brand-500: 36, 45%, 53%;
    --brand-600: 31, 42%, 48%;
    --brand-700: 29, 42%, 40%;
    --brand-800: 26, 37%, 34%;
    --brand-900: 26, 35%, 28%;
    --brand-950: 24, 38%, 15%;
    --brand-foreground: 0 0% 100%;

    --background: 240 30% 98.5%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --muted: 240 4.8% 94.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 94.9%;
    --accent-foreground: 240 5.9% 10%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --ring: 240 5.9% 10%;
    --scrollbar: 240 15% 87.5%;

    --radius: 0.5rem;
  }

  .dark {
    color-scheme: dark;

    --background: 240 10% 6.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 9.4%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 8.6%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --border: 240 3.7% 17.5%;
    --input: 240 3.7% 17.9%;

    --ring: 240 4.9% 83.9%;
    --scrollbar: 240 15% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply h-full scrollbar scrollbar-track-transparent scrollbar-thumb-scrollbar;
  }
  body {
    @apply h-full overflow-y-scroll bg-background text-foreground;
  }
  input {
    @apply accent-primary;
  }
}

@layer components {
  .product-card:focus-within {
    @apply ring-2 ring-ring ring-offset-4 ring-offset-background;
  }
  .product-card:has(a:focus) {
    @apply ring-0 ring-offset-0;
  }
  .product-card:has(a:focus-visible) {
    @apply ring-2 ring-ring ring-offset-4 ring-offset-background;
  }
  .product-card:has(button:focus-visible),
  .product-card:has(button:focus) {
    @apply ring-0 ring-offset-0;
  }
}
