@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 20% 97%;
    --foreground: 240 10% 3.9%;

    --element: 0 0% 100%;
    --element-foreground: 240 10% 3.9%;

    --primary: 240 12.9% 14%;
    --primary-foreground: 0 0% 98%;

    --secondary: 175, 77%, 26%;
    --secondary-hover: 175, 77%, 23%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240, 30%, 30%, 0.05;
    --muted-foreground: 240 3.8% 36.1%;

    --destructive: 0 54.2% 47.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 88.5%;
    --input: 240 5.9% 93.5%;

    --ring: 240 5.9% 10%;
    --scrollbar: 240 15% 87.5%;

    --radius: 0.5rem;
  }

  .dark {
    color-scheme: dark;

    --background: 0 0% 8%;
    --foreground: 0 0% 98%;

    --element: 0 0% 10%;
    --element-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 10%;

    --secondary: 175, 84%, 32%;
    --secondary-hover: 175, 77%, 28%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0, 0%, 80%, 0.07;
    --muted-foreground: 0 0% 64.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 16.9%;

    --ring: 0 0% 83.9%;
    --scrollbar: 0 0% 18%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply h-full scrollbar scrollbar-track-transparent scrollbar-thumb-scrollbar;
  }
  body {
    @apply h-full overflow-y-scroll bg-background text-foreground;
  }
  input {
    @apply accent-primary;
  }
}

@layer components {
  .product-card:focus-within {
    @apply ring-2 ring-ring ring-offset-4 ring-offset-background;
  }
  .product-card:has(a:focus) {
    @apply ring-0 ring-offset-0;
  }
  .product-card:has(a:focus-visible) {
    @apply ring-2 ring-ring ring-offset-4 ring-offset-background;
  }
  .product-card:has(button:focus-visible),
  .product-card:has(button:focus) {
    @apply ring-0 ring-offset-0;
  }
}
